/* START-MARGIN*/
	.margin-0{ margin: 0px!important; }
	.margin-1{ margin: 1px!important; }
	.margin-2{ margin: 2px!important; }
	.margin-3{ margin: 3px!important; }
	.margin-4{ margin: 4px!important; }
	.margin-5{ margin: 5px!important; }
	.margin-6{ margin: 6px!important; }
	.margin-7{ margin: 7px!important; }
	.margin-8{ margin: 8px!important; }
	.margin-9{ margin: 9px!important; }
	.margin-10{ margin: 10px!important; }
	.margin-11{ margin: 11px!important; }
	.margin-12{ margin: 12px!important; }
	.margin-13{ margin: 13px!important; }
	.margin-14{ margin: 14px!important; }
	.margin-15{ margin: 15px!important; }
	.margin-16{ margin: 16px!important; }
	.margin-17{ margin: 17px!important; }
	.margin-18{ margin: 18px!important; }
	.margin-19{ margin: 19px!important; }
	.margin-20{ margin: 20px!important; }
	.margin-21{ margin: 21px!important; }
	.margin-22{ margin: 22px!important; }
	.margin-23{ margin: 23px!important; }
	.margin-24{ margin: 24px!important; }
	.margin-25{ margin: 25px!important; }
	.margin-26{ margin: 26px!important; }
	.margin-27{ margin: 27px!important; }
	.margin-28{ margin: 28px!important; }
	.margin-29{ margin: 29px!important; }
	.margin-30{ margin: 30px!important; }

/* START-PADDING*/
	.padding-0{ padding: 0px!important; }
	.padding-1{ padding: 1px!important; }
	.padding-2{ padding: 2px!important; }
	.padding-3{ padding: 3px!important; }
	.padding-4{ padding: 4px!important; }
	.padding-5{ padding: 5px!important; }
	.padding-6{ padding: 6px!important; }
	.padding-7{ padding: 7px!important; }
	.padding-8{ padding: 8px!important; }
	.padding-9{ padding: 9px!important; }
	.padding-10{ padding: 10px!important; }
	.padding-11{ padding: 11px!important; }
	.padding-12{ padding: 12px!important; }
	.padding-13{ padding: 13px!important; }
	.padding-14{ padding: 14px!important; }
	.padding-15{ padding: 15px!important; }
	.padding-16{ padding: 16px!important; }
	.padding-17{ padding: 17px!important; }
	.padding-18{ padding: 18px!important; }
	.padding-19{ padding: 19px!important; }
	.padding-20{ padding: 20px!important; }
	.padding-21{ padding: 21px!important; }
	.padding-22{ padding: 22px!important; }
	.padding-23{ padding: 23px!important; }
	.padding-24{ padding: 24px!important; }
	.padding-25{ padding: 25px!important; }
	.padding-27{ padding: 27px!important; }
	.padding-28{ padding: 28px!important; }
	.padding-29{ padding: 29px!important; }
	.padding-30{ padding: 30px!important; }

/* ALLIGN-TEXT */
	.center-text{ text-align: center; }
	.right-text{ text-align: right; }
	.left-text{ text-align: left; }

/* BACKGROUND-COLOR */
	.background-negro{ background-color: ª000; }